.activeList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 5px;
  grid-template-rows: 150px;
}
.taskItem{
  border: 1px solid rgba(83,119,122,0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows:20px repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-auto-flow: row;
  border-radius: 10px;
}
.taskItem .due_dates{
  grid-column: 1/2;
  font-weight: bold;
}
.taskItem .priority{
  grid-column: 2/3;
  border-radius: 50%;
}
.taskItem .priority>div{
  width:100%;height:100%;
  border-radius: inherit;
}
.taskItem .taskname{
  grid-column: 1/3;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 16px;
  word-wrap: break-word;
  font-weight: bold;
}
.taskItem .button-group{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
.taskItem .btn{
  border-width: 2px;
  font-weight: bold;
  background: transparent;
}
.taskItem .btn-info{color:#46b8da;}
.taskItem .btn-info:hover{background: #46b8da; color:#fff; border: none;}
.taskItem .btn-success{color: #43ac6e;}
.taskItem .btn-success:hover{background: #43ac6e; color:#fff;border: none;}
.taskItem .btn-danger{color: #ea2f10;}
.taskItem .btn-danger:hover{background: #ea2f10; color:#fff;border: none;}

/*---------------*/

/*Edit Task*/

.overlay{
  position: absolute;
  top:5px;
  left:10px;
  right:10px;
  bottom: 5px;
  padding: 10px;
  background:rgba(83,119,122,0.9);
  border-radius: 10px;
}
.overlay #btn-close, .overlay #btn-close:focus{
  position: absolute;
  top:10px;
  left:10px;
  outline: 0;
  font-weight: bold;
}
.editWrapper{
  background: #fff;
  position: relative;
  margin:25px;
  padding: 10px;
  height:calc(100% - 50px);
  border-radius: 10px;
}
.editWrapper form{
  margin:10px;
  height:calc(100% - 20px);
}
.subtasks .input-group-addon{
  background: #43ac6e;
  font-weight: bolder;
}
.subtasks .input-group-addon a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.subtasksList{
  border:1px solid rgba(83,119,122,0.5);
  height: 120px;
  overflow-y: scroll;
  display: grid;
  grid-auto-rows: 40px;
  font-weight: bold;
}
.subtasksList input{
  word-wrap: break-word;
}
.subtasksList .input-group-addon{
  background: transparent;
}
.subtasksList .input-group-addon input[type="checkbox"]{
  width:20px;
  height:20px;
  cursor: pointer;
}
.subtasksList .form-control{
  background: transparent;
}
