.AddTask{
  padding: 10px 0;
}
.AddTask label{
  font-size: 14px;
}
.AddTask option{
  font-weight: bold;
}
.AddTask input[type="date"] {
    background:#fff url(https://cdn0.iconfinder.com/data/icons/twitter-ui-flat/48/Twitter_UI-21-32.png)  97% 50% no-repeat ;
  }
.AddTask input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
.AddTask input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
 }
.tasklist{
  width:100%;
  height:100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-column-gap: 5px;
  grid-auto-flow: column;
}

.tasklist aside{
  padding: 10px 0;
  background-color: #53777a;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: row;
}
.tasklist aside div{
  margin:10px;
  width:calc(100% - 20px);
  height:calc(100% - 20px);
  text-align: center;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasklist .btn-custom{
  background: transparent;
  color: #53777a;
  font-weight: bold;
  outline: none;
}
.tasklist .btn-custom i{
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
}
.tasklist main{
  padding:20px;
  position: relative;
}
.taskComponent{
  position: absolute;
  left:10px;right:10px;
  top:10px;bottom: 10px;
  border: 2px solid #53777a;
  height:calc(100% - 20px);
}
.taskComponent section{
  margin: 10px 50px;
  height:inherit;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-auto-flow: row;
}
.taskComponent h4{
  text-transform: uppercase;
  color: #53777a;
  font-weight: bolder;
  border-bottom: 1px solid #53777a;
}
.taskComponent label{
  color: #53777a;
  font-weight: bold;
}

/* AddTask Modal*/
.modal-Details{
    position: absolute;
    top:-20px;
    left:0;
    height: 70vh;
    width:700px;
    background: #f9f9f9;
    box-shadow: 2px 2px 2px 2px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-flow: row;
    grid-row-gap: 5px;
}
.modal-Details header{
    padding-top:5px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 35px;
}
.modal-Details header h2{
    margin:10px 0px;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
.modal-Details header .btn-close{
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    margin:5px;
    float:right;
    font-size: 14px;
    display: block;
}

.fade {
    animation: fade-in-keyframes .5s forwards;
  }
  @keyframes fade-in-keyframes {
    from {opacity: 0;}
    to {opacity: 1}
  }

/* ------------------ */
.completedList{
  height: 100%;
  overflow-y: scroll;
}
.completedList{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.completedItem .clickable{
    cursor: pointer;
}
.completedItem .panel-heading {
  border:1px solid rgba(83,119,122,0.5);
  display:grid;
  grid-template-columns: 2fr 1fr 10px;
  grid-column-gap: 10px;
}
.completedItem .panel-heading .panel-title{
  color:rgb(83,119,122);
  font-size: 14px;
}
.completedItem .panel-body{
  clear:both;
  width:100%;
  margin:0;
  padding: 10px;
}
.completedItem .panel-body table{
  width:100%;
}
.completedItem .panel-body tr td.long{
  word-break:break-word;
}
.completedItem .panel-body td:first-of-type{
  font-weight: bold;
  text-transform: capitalize;
}
.completedItem .panel-body td {
    word-wrap: break-word;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
