*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.app-wrapper{
  width:100vw;
  padding:0 20px;
}

.material-icons{
    padding:0 5px;
    margin:inherit;
    font-size:inherit;
}

/** Navigation **/
nav.navbar{
    position: relative;
    border-bottom: 0.1em solid #eee;
    height:7vh;
}
.navbar .navbar-brand{
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    text-align: center;
    font-size: 26px;
}
.navbar a{
    font-size: 16px;
    font-weight: bolder;
}

/** ActiveTasks Tab **/

section #activeTasks{
  padding: 10px 0;
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
}
/* TaskList Container */
#activeTasks .taskList{
  padding: 10px;
  grid-column: 1/2;
  height:75vh;
  overflow-y: scroll;
  border: 0.01em solid #4c4c4c;
}
/* TaskDetails  Container*/
#activeTasks .taskDetails{
  padding: 10px;
  grid-column: 2/3;
  height:75vh;
  overflow:hidden;
  border: 0.01em solid #4c4c4c;
}