*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.app-wrapper{
  width:100vw;
  padding:0 20px;
}

.material-icons{
    padding:0 5px;
    margin:inherit;
    font-size:inherit;
}
/* navigation */
nav.navbar{
    position: relative;
    border-bottom: 0.1em solid #626565;
    height:7vh;
}
.navbar .navbar-brand{
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    text-align: center;
    font-size: 26px;
}
.navbar a{
    font-size: 16px;
    font-weight: bolder;
}