.AddTask Form{
    margin:5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #3a4a4d;
    height:75vh;
}
.TaskList, .CompletedList{
    margin:5px 0;
    padding-right:1em;
    height:75vh;
    overflow-y: scroll;
}
.TaskList .button{
    background: var(--lavender);
    font-weight: bolder;
}
.TaskList .button:hover{
    background: #f9f9f9;
}
h4.subtitle{
    margin:1em 0;
}