* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-wrapper {
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  margin: 5px;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-auto-flow: row;
  justify-items: space-around;
  grid-row-gap: 5px;
}

header {
  background: #53777a;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-auto-flow: column;
}

header .brand {
  color: #fff;
  margin: 0;
  line-height: 50px;
  font-size: 24px;
  margin-left: 5px;
}
header .button-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background: #f7f7f7;
}

footer {
  background: #53777a
}
